.admin-sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(90deg, #0a086c, #0f172a);
  color: white;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.admin-sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

.admin-sidebar a.active,
.admin-sidebar a:hover {
  background: #334155;
  color: white;
}
