/* Add Warden Card */
.add-warden-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  margin: 20px 0;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.add-warden-card h3 {
  margin-bottom: 15px;
}

.add-warden-card input {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}
.form-card{
    min-width: 100%;
}
/* Staff Profile Preview */
.staff-profile-preview {
  display: flex;
  gap: 15px;
  align-items: center;
  background: #f8fafc;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.staff-profile-preview img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2563eb;
}

.staff-profile-preview p {
  margin: 4px 0;
  font-size: 14px;
}
/* Allocated Section */
.allocated-section {
  margin-top: 30px;
}

.allocated-section h3 {
  margin-bottom: 20px;
  color: #1e293b;
}

/* Grid Layout */
.allocated-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

/* Card */
.allocated-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.allocated-card:hover {
  transform: translateY(-4px);
}

.allocated-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #2563eb;
}

.allocated-card h4 {
  margin-bottom: 6px;
  color: #1e293b;
}

.allocated-card p {
  font-size: 13px;
  color: #64748b;
  margin: 3px 0;
}

/* Hostel Badge */
.allocated-hostel-badge {
  display: inline-block;
  margin: 10px 0;
  padding: 6px 10px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

/* Remove Button */
.remove-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #dc2626;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.remove-btn:hover {
  background: #b91c1c;
}



.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.success {
  background: #dcfce7;
  color: #166534;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.wide{
    width: 20%;
}

/* ===== SELECT DROPDOWN ===== */

.form-group select,
.add-warden-card select {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  border-radius: 10px;
  border: 1.5px solid #dcdfe6;
  background-color: #ffffff;
  color: #64748b;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;

}
