body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

/* HERO SECTION */

.hero-overlay {
  height: 100%;
  color: rgb(23, 7, 91);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-overlay h1 {
  font-size: 42px;
  margin-left: 80px;
}

.hero-overlay p {
  font-size: 22px;
  font-weight: 500;
  margin-left: 80px;
  margin-bottom: 100px;
}

/* CARD SECTION */
.card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
}

.card1 {
  background: linear-gradient(135deg, #f9f7f6, #6d5c4d);
  width: 240px;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card1 h3 {
  margin-bottom: 10px;
  color: rgb(23, 7, 91);
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: rgb(23, 7, 91);
  color: white;
  font-size: 13px;
  padding: 8px 6px 6px 6px;
  border-radius: 6px;
  text-decoration: none;
}

.btn:hover {
  background: #084298;
}
.hero {
  height: 100vh;
  background-image: url("/hostel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Make header full width, transparent, and fixed at top */
header {
  width: 100%;
  height: 180px; /* adjust height */
  position: fixed; /* stays on top while scrolling */
  top: 0;
  left: 0;
  background-color: transparent; /* transparent background */
  z-index: 1000; /* stay above content */
}

/* Logo positioning */
.logo-container {
  position: absolute;
  top: 10px;   /* distance from top */
  
}

/* Logo size */
.logo {
  height: 220px; /* adjust as needed */
  width: auto;
}
