/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN CONTAINER */
.login-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* LEFT SIDE IMAGE */
.login-left {
  flex: 1;
  min-height: 100vh;
  background-image: url("/images/hostel-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* OVERLAY */
.overlay {
  height: 100%;
  width: 100%;
  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  
}

.overlay h1 {
  font-size: 42px;
 padding-top: 30%;
color: black;
}

.overlay p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN BOX */
.login-box {
  width: 380px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

/* FORM */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #123b2f;
}

input {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 18px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 15px;
}

/* FORGOT PASSWORD */
.forgot-password {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 18px;
}

.forgot-password a {
  font-size: 14px;
  color: #2f3e3a;
  text-decoration: none;
}

/* CAPTCHA */
.captcha-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.captcha-text {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  background: #f0f0f0;
  border-radius: 4px;
}

.refresh-btn {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

/* BUTTON */
.login-btn {
  width: 100%;
  height: 44px;
  background-color: #2f3e3a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #1f2c29;
}

/* ERROR */
.error {
  color: red;
  margin-bottom: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    height: 35vh;
  }
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
